.star-rating {
  direction: rtl;
  display: block;
  font-size: 2rem;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.star-rating input:checked ~ label {
  color: gold;
}

#ratingValue {
  font-size: 1.2rem;
  color: #333;
}

.form-group {
    margin-bottom: 20px;
  }
  
  .custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .upload-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .upload-btn:hover {
    background-color: #0056b3;
  }
  
  .file-input {
    display: none;
  }
  
  .file-name {
    font-size: 14px;
    color: #333;
  }
  
