<div class="planontime-container">
  <!-- ส่วนค้นหาและปุ่มสร้าง PlanOntime -->
  <div class="header-section">
    <mat-form-field class="search-input">
      <mat-label>Search Plan</mat-label>
      <input matInput placeholder="Search by Plan Name">
      <button mat-icon-button matSuffix aria-label="Clear" (click)="searchTerm=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


    <button class="btn-card btn-back" (click)="openSubplanningDialog()">
      <i class="bi bi-plus-circle"></i>ADD MY PLAN
    </button>

  </div>

  <!-- Stepper Section -->
  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Step 1</ng-template>
      <ng-template matStepContent>
        <p>This content was rendered lazily</p>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>This content was also rendered lazily</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</div>
