.min-vh-100 {
    min-height: 100vh;
}

.profile-form {
    height: auto;
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-preview {
    display: flex; /* ใช้ flexbox สำหรับการจัดกลาง */
    justify-content: center; /* จัดแนวนอนกลาง */
    align-items: center; /* จัดแนวดิ่งกลาง */
    margin-bottom: 10px; /* เว้นระยะด้านล่าง */
    width: 150px; /* ความกว้าง */
    height: 150px; /* ความสูง */
    overflow: hidden; /* ซ่อนส่วนที่เกิน */
    border-radius: 50%; /* ทำให้เป็นรูปวงกลม */
    background-color: #f0f0f0; /* สีพื้นหลังเมื่อไม่มีรูป */
}

.avatar-preview img {
    width: 100%; /* ทำให้เต็มพื้นที่ */
    height: 100%; /* ทำให้เต็มพื้นที่ */
    object-fit: cover; /* ทำให้รูปภาพไม่เสียสัดส่วน */
}
