/* Make sure the image takes full height on large screens */
.bg-light {
    background: url('/assets/login-image.jpg') no-repeat center center;
    background-size: cover;
}

.min-vh-100 {
    min-height: 100vh;
}

.signup-form {
    height: auto;
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-left {
    animation: slideFromLeft 0.8s ease-in-out;
}

.slide-right {
    animation: slideFromRight 0.8s ease-in-out;
}

.gap{
    padding-inline: 1rem;
}