.travel-plans {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* เพื่อให้สามารถยืดหยุ่นบนหน้าจอขนาดเล็ก */
}

.filter {
  margin-top: 10px;
}

.form-select {
  margin-left: 10px;
}

.plan-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-image {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}

.plan-image img {
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.plan-details {
  padding: 15px;
  flex-grow: 1;
}

h5 {
  color: #333;
  background-color: #e3f2fd;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 10px;
}

.plan-description {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}

.plan-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.budgetStatus {
  margin-left: auto;
  margin-right: 10px;
}
.budget, .status {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.budget {
  color: #28a745;
  background-color: #e9f5e9;
}

.status {
  color: #ffc107;
  background-color: #fff3cd;
  margin-left: 10px;
}

.btn {
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

.btn-delete {
  color: #fff;
  background-color: #dc3545;
  border: none;
}

.btn-delete:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .plan-item {
    flex-direction: column; /* เมื่อหน้าจอเล็ก ให้คอมโพเนนต์เรียงกันในแนวตั้ง */
  }

  .plan-image {
    width: 100%;
    height: auto;
  }

  .form-select {
    margin-left: 0;
  }

  .filter {
    width: 100%;
  }

  .header {
    flex-direction: column; /* จัดให้ header เรียงแนวตั้งในหน้าจอเล็ก */
  }
}
