.travel-plans {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.bi-flag-fill{
  margin-right: 10px;
  color: #007bff;
  font-size: 30px;
}

.filter {
  margin-left: auto;
}

.form-select {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-select option {
  padding: 10px;
}

.form-select option {
  color: #333;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.plan-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-image {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}

.plan-image img {
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.plan-details {
  padding: 15px;
  flex-grow: 1;
}

h5 {
  color: #333;
  background-color: #e3f2fd;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 10px;
}

.plan-description {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}

.plan-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.budgetStatus {
  margin-left: auto;
  margin-right: 10px;
}
.budget, .status {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.budget {
  color: #28a745;
  background-color: #e9f5e9;
}

.status {
  margin-left: 10px;
}
.status-planned {
  color: #0d6efd;
  background-color: #e7f1ff;
}

.status-completed {
  color: #198754;
  background-color: #d1e7dd;
}

.status-canceled {
  color: #dc3545;
  background-color: #f8d7da;
}

.status-default {
  color: #0d6efd;
  background-color: #e7f1ff;
}

.btn {
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

.btn-delete {
  color: #fff;
  background-color: #dc3545;
  border: none;
}

.btn-delete:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .plan-item {
    flex-direction: column; /* เมื่อหน้าจอเล็ก ให้คอมโพเนนต์เรียงกันในแนวตั้ง */
  }

  .plan-image {
    width: 100%;
    height: auto;
  }

  .form-select {
    margin-left: 0;
  }

  .filter {
    width: 100%;
  }

  .header {
    flex-direction: column;
  }

  .budgetStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .budget {
    font-weight: bold;
  }
}

