.hero-section {
  padding: 100px 0;
  background-color: #ffffff;
}

.featured-destinations .card {
  transition: transform 0.3s;
}

.featured-destinations .card:hover {
  transform: translateY(-5px);
}

.cta-section {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
}

.carousel-inner .carousel-item img {
  height: 400px; /* Adjust to fit your design */
  object-fit: cover; /* Ensure the image covers the container proportionally */
}

.section-divider {
  border: none;
  height: 1px;
  background-color: #6597f5; /* สีของเส้น */
}
