<footer class="footer">
  <div class="container">
    <div class="footer-grid">

      <div class="footer-column">
        <h3>Product</h3>
        <ul class="footer-links">
          <li><a href="#">Plan your trip</a></li>
          <li><a href="#">Tourist attraction reviews</a></li>
          <li><a href="#">Recommended tourist attractions</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Information</h3>
        <ul class="footer-links">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Contact Info</h3>
        <ul class="footer-links">
          <li><a href="#">Email: xxx&#64;trip.talse.com</a></li>
          <li><a href="#">Tel: 123456789 </a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Subscribe</h3>
        <div class="subscribe-form">
          <input type="email" placeholder="Email address" class="subscribe-input" />
          <button class="subscribe-button">→</button>
        </div>
        <p class="subscribe-text">
          Hello, if you have any comments on the use, you can send us a message here.
        </p>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="footer-bottom">
      <div class="footer-logo">
        <img routerLink="/" src="assets/logo/trip-tales-logo.png" alt="Trip Tales Logo" />
      </div>
      <div class="footer-links-bottom">
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
        <a href="#">Cookies</a>
      </div>
      <div class="footer-social">
        <a href="#">GitHub</a>
        <a href="#">Facebook</a>
        <a href="#">Instargram</a>
      </div>
    </div>
  </div>
</footer>
