.trip-planning-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}


.btn-containner {
  float: right;
}
.reset-btn {
  background-color: #f14646;
  color: #ffffff;
}
.save-btn {
  background-color: #4665f1;
  color: white;
  margin-left: 10px;
}


.bi-luggage-fill {
  margin-right: 10px;
  color: dodgerblue;
  font-size: 30px;
}
.full-width {
  width: 100%;
}

.form-field-spacing {
  margin-bottom: 20px;
}

.date-fields-container {
  margin-bottom: 20px;
}

.endDate {
  
}

.action-button {
  min-width: 120px;
  border-radius: 4px;
}

mat-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

mat-icon {
  margin-right: 10px;
  color: #4fc3f7; /* Light blue color */
}

mat-card-title {
  margin: 0;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #4fc3f7; /* Light blue color for form field outlines */
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #4fc3f7; /* Light blue color for focused form fields */
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6); /* Slightly darker text for labels */
}

.mat-stroked-button {
  border-color: #4fc3f7; /* Light blue color for stroked button border */
  color: #4fc3f7; /* Light blue color for stroked button text */
}

.mat-raised-button.mat-primary {
  background-color: #4fc3f7; /* Light blue color for primary raised button */
}

.alert-card {
  margin-top: 20px;
  border-radius: 4px;
  position: relative;

}

.success-card {
  background-color: #e1f5fe; /* Very light blue for success message */
  color: #01579b; /* Dark blue for success text */
}

.error-card {
  background-color: #ffebee; /* Very light red for error message */
  color: #b71c1c; /* Dark red for error text */

}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 959px) {
  .date-fields-container {
    flex-direction: column;
  }

  .date-fields-container > * {
    width: 100%;
    margin-bottom: 20px;
  }
}
